body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.app {
  text-align: center;
}

.header {
  background-color: #007bff;
  color: #fff;
  padding: 20px 0;
}

.question {
  margin-bottom: 20px;
}

.btn button {
  padding: 15px 40px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn button:hover {
  background-color: #0056b3;
}



.option {
  padding: 15px 20px;
  border: 2px solid #007bff;
  border-radius: 5px;
  background-color: #fff;
  color: #007bff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  margin: 5px;
}

.option.selected {
  background-color: #007bff;
  color: #fff;
  border-color: #0056b3;
}

.option.correct {
  background-color: #5cb85c;
  color: #fff;
  border-color: #4cae4c;
}

.option.incorrect {
  background-color: #d9534f;
  color: #fff;
  border-color: #d43f3a;
}


